name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build APK using Buildozer
        uses: digreatbrian/buildozer-action@v1
        with:
          buildozer_version: stable
